body {
  background-color: black;
  text-align: center;
  font-size: 0;
}

h1 {
  color: white;
  font-family: helvetica;
  font-size: 100px;
  margin: 10px 0 40px 0;
}

#table {
  width: 1224px;
  height: 400px;
  margin: 0 auto;
  border-bottom: 40px solid white;
  position: relative;
}

#ballY {
  width: 100%;
  height: 24px;
  position: absolute;
  bottom: 0;
}

#ballX {
  border: 12px solid white;
  border-radius: 12px;
  position: absolute;
  left: 0;;
  transform: translateX(0);
  transition: transform 1200ms linear;
  visibility: hidden;
}

#ballX.playerSide {
  transform: translateX(1200px);
}

#net {
  height: 100px;
  border-right: 12px dotted white;
  position: absolute;
  left: 606px;
  bottom: 0;
}

.bat {
  width: 10px;
  height: 60px;
  background-color: white;
  position: absolute;
  bottom: -18px;
}

.bouncing {
  animation: bounce 1500ms infinite ;
}

#computer {
  left: -10px;
}

#player {
  right: -10px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-360px);
    animation-timing-function: ease-in;
  }
}

@media (max-width: 1200px) {
  #table {width: 724px;}
  #net {left: 356px;}
  #ballX.playerSide {
    transform: translateX(700px);
  }
}
