body {
  background-color: black;
  text-align: center;
  font-size: 0.9vw;
}

h1 {
  color: white;
  font-family: helvetica;
  font-size: 100px;
  margin: 10px 0 40px 0;
}

#table {
  width: 100em;
  height: 50em;
  margin: 0 auto;
  border-bottom: 3em solid white;
  position: relative;
}

#ballY {
  width: 100%;
  height: 3em;
  position: absolute;
  bottom: 0;
}

#ballX {
  border: 1.5em solid white;
  border-radius: 1.5em;
  position: absolute;
  left: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 1200ms linear;
  transition: transform 1200ms linear;
  visibility: hidden;
}

#ballX.playerSide {
  -webkit-transform: translateX(97em);
  transform: translateX(97em);
}

#net {
  height: 8em;
  border-right: 1.2em dotted white;
  position: absolute;
  left: 49.4em;
  bottom: 0;
}

.bat {
  width: 10px;
  height: 7em;
  background-color: white;
  position: absolute;
  bottom: -2em;
}

.bouncing {
  -webkit-animation: bounce 1500ms infinite;
  animation: bounce 1500ms infinite;
}

#computer {
  left: -10px;
}

#player {
  right: -10px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-40em);
    animation-timing-function: ease-in;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: translateY(-40em);
    -webkit-animation-timing-function: ease-in;
  }
}
